
      <div class="container">
         <div class="row" id="header-spacer"></div>
         <div id="IE7warning" style="display:none" class="row">
            <div class="col-md-12">
               <div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> <strong>Your browser is outdated.</strong> This site (and most of the internet) won't display properly until you <a href="http://google.com/chrome" style="text-decoration: underline">upgrade</a>.</div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <h1 id="title"><span style="margin-right: -10px">Rohit</span> <span class="accented">Padma</span></h1>
            </div>
         </div>
         <hr>
         <div class="row">
            <div class="col-md-12">
               <p><span style="font-weight: bold">Welcome!</span> I'm a Software developer with nearly 4 years of professional experience in application development.
                Currently pursuing my masters in computer science at UNC Charlotte and will be graduate in December,2017.</p>
               <p> Solving problems which will impact people is what drives me!</p>
               
            </div>
         </div>
         <hr style="margin-top:15px">
         <div class="row">
            <div class="col-md-3 col-sm-4">
               <h2 class="subtitle">Connect</h2>
            </div>
            <div class="col-md-3 col-sm-4 social">
               <a class="social-link" href="mailto:rpadma@uncc.edu" target="_blank">
                  <div class="social-container">
                     <img src="./assets/mail.png" fallbacksrc="img/mail.png" class="social-icon">
                     <div class="social-header">Email</div>
                     <div class="quiet email visible-sm visible-md" style="font-size: .8em; margin-top:2px">rpadma@uncc.edu</div>
                     <div class="quiet email visible-xs visible-lg">rpadma@uncc.edu</div>
                  </div>
               </a>
            </div>
            <div class="col-md-3 col-sm-4 social">
               <a class="social-link" href="https://github.com/rpadma" target="_blank">
                  <div class="social-container">
                     <img src="./assets/github.png" fallbacksrc="img/github.png" class="social-icon"> <span class="social-header">GitHub</span>
                     <div class="quiet">rpadma</div>
                  </div>
               </a>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-sm-4 visible-sm"></div>
            <div class="col-md-3 col-sm-4 social">
               <a class="social-link" href="https://www.linkedin.com/in/rohit-padma/" target="_blank">
                  <div class="social-container">
                     <img src="./assets/linkedin.png" fallbacksrc="img/linkedin.png" class="social-icon"> <span class="social-header">Linkedin</span>
                     <div class="quiet">rohit-padma</div>
                  </div>
               </a>
            </div>
            <div class="clearfix visible-md"></div>
            <div class="col-md-3 visible-md visible-lg"></div>
            <div class="col-md-3 col-sm-4 social">
               <a class="social-link" href="https://stackoverflow.com/users/5614616/rohit-padma" target="_blank">
                  <div class="social-container">
                     <img src="./assets/stackoverflow.png" fallbacksrc="img/stackoverflow.png" class="social-icon"> <span class="social-header">Stackoverflow</span>
                     <div class="quiet">rohit-padma</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4 visible-sm"></div>
            <div class="col-md-3 col-sm-4 social">
               <a class="social-link" href="https://www.instagram.com/rohit.padma/" target="_blank">
                  <div class="social-container">
                     <img src="./assets/instagram.png" fallbacksrc="img/instagram.png" class="social-icon"> <span class="social-header">Instagram</span>
                     <div class="quiet">rohit.padma</div>
                  </div>
               </a>
            </div>
            <div class="col-md-3 col-sm-4 social">
               <a class="social-link" href="https://www.facebook.com/ETULOSER" target="_blank">
                  <div class="social-container">
                     <img src="./assets/facebook.png" fallbacksrc="img/facebook.png" class="social-icon"> <span class="social-header">Facebook</span>
                     <div class="quiet">Rohit Padma</div>
                  </div>
               </a>
            </div>
         </div>~
         <hr class="no-top-margin">
         <div class="row">
            <div class="col-md-3 col-sm-4">
               <h2 id="projects-subtitle" class="subtitle">Course Projects</h2>
            </div>
            <div class="col-md-9 col-sm-8">
               <div class="row">
                  <div class="col-md-6 col-sm-12 project">
                     <a href="https://github.com/rpadma/NaiveBayes-WebCrawler" target="_blank">
                        <div class="link-item-container">
                           <h3>Naïve Bayes Algorithm</h3>
                           <div class="quiet heading-subtitle">github.com/rpadma/NaiveBayes-WebCrawler</div>
                           <p class="ignore-link-color">Implemented Naïve Bayes algorithm to prepare model on 400k painting data and classified Painting data based on the prepared models. As part of data collection wrote a web crawler for the website saatchiart using the Scrapy framework. <span class="hidden-xs hidden-sm hidden-md"><br><br></span></p>
                        </div>
                     </a>
                  </div>
                  <div class="col-md-6 col-sm-12 project">
                     <a href="https://github.com/rpadma/Trip-Planner" target="_blank">
                        <div class="link-item-container">
                           <h3>Trip Planner</h3>
                           <div class="quiet heading-subtitle">github.com/rpadma/Trip-Planner</div>
                           <p class="ignore-link-color">Social networking android app for people who love traveling. The feature includes - discover friends, send a friend request, add friends, create groups for a trip which has a real-time chatroom where people in that group can chat, send images, (Add, Remove) places, and integration maps which shows round-trip route of all the places added in that group.</p>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-md-3 col-sm-4 hidden-xs"></div>
            <div class="col-md-9 col-sm-8">
               <div class="row">
                  <div class="col-md-6 col-sm-12 project">
                     <a href="https://github.com/rpadma/Carpool" target="_blank">
                        <div class="link-item-container">
                           <h3>CarPool</h3>
                           <div class="quiet heading-subtitle">github.com/rpadma/Carpool</div>
                           <p class="ignore-link-color">Web Application which helps people to find
                              out people who are traveling on the same route, same day 
                              (or flexible - up to the trip owner) and the same time,
                              and collaborates with them to share a car.</p>
                           <span class="hidden-xs hidden-sm hidden-lg"><br></span>
                        </div>
                     </a>
                  </div>
                  <div class="col-md-6 col-sm-12 project">
                     <a href="https://github.com/rpadma/Weather-App" target="_blank">
                        <div class="link-item-container">
                           <h3>Weather App</h3>
                           <div class="quiet heading-subtitle">github.com/rpadma/Weather-App</div>
                           <p class="ignore-link-color">Mobile App - get weather information based on location, shows forecast for next 5 days, change temperature units, and add searched locations as the favorite to a saved list in firebase.</p>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <hr class="no-top-margin">
         <div class="row">
            <div class="col-md-3 col-sm-4">
               <h2 id="projects-subtitle" class="subtitle">Hobby Projects</h2>
            </div>
            <div class="col-md-9 col-sm-8">
               <div class="row">
                  <div class="col-md-6 col-sm-12 project">
                     <a href="https://github.com/rpadma/Rappay" target="_blank">
                        <div class="link-item-container">
                           <h3>Rappay</h3>
                           <div class="quiet heading-subtitle">github.com/rpadma/Rappay</div>
                           <p class="ignore-link-color">Payment wallet app – Transaction History, Charts based on Transactions pattern, QR Code Payment, Every Individual can act as Vendor/ User and make transactions (like you add a user in Snapchat)
                              <span class="hidden-xs hidden-sm hidden-md"><br><br></span></p>
                        </div>
                     </a>
                  </div>
                  <div class="col-md-6 col-sm-12 project">
                     <a href="https://play.google.com/store/apps/details?id=com.computer.mode" target="_blank">
                        <div class="link-item-container">
                           <h3>RingEye</h3>
                           <div class="quiet heading-subtitle">github.com/rpadma/RingEye</div>
                           <p class="ignore-link-color">A utility app which triggers an alarm when the battery is fully charged and you remotely change phone mode from silent to general through SMS</p>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
            
         </div>
        
         <hr class="no-top-margin">
         <div class="row" style="margin-bottom:10px">
            <div class="col-md-3 col-sm-4">
               <h2 id="education-subtitle" class="subtitle">Education</h2>
            </div>
            <div class="col-md-9 col-sm-8 project">
               <a href="https://www.uncc.edu/" target="_blank">
                  <div class="link-item-container">
                     <h3>University of North Carolina at Charlotte
                     </h3>
                     <div class="quiet heading-subtitle">9201 University City Blvd, Charlotte, NC 28223</div>
                     <p class="ignore-link-color">Master of Science in Computer Science<br>Expected Graduation: December 2017<br>GPA: 3.9</p>
                  </div>
               </a>
            </div>
            <div class="col-md-9 col-sm-8 col-md-offset-3 col-sm-offset-4 project">
               <a href="http://jntuh.ac.in/" target="_blank">
                  <div class="link-item-container">
                     <h3>Jawaharlal Nehru Technological University</h3>
                     <div class="quiet heading-subtitle">Kukatpally, Hyderabad - 500 085, Telangana, India</div>
                     <p class="ignore-link-color">Bachelor of Technology in Computer Science<br>Graduated: June 2013 <br>GPA: 3.6</p>
                  </div>
               </a>
            </div>
         </div>
         <hr>
         <div class="row" style="margin-bottom:10px">
            <div class="col-md-3 col-sm-4">
               <h2 id="experience-subtitle" class="subtitle">Experience</h2>
            </div>
            <div class="col-md-9 col-sm-8">
               <a href="https://nextsphere.com/" target="_blank">
                  <div class="link-item-container">
                     <h3>Nextsphere Technologies - Clearwater,Florida</h3>
                     <div class="quiet heading-subtitle">Software Engineer Intern | May 2017 - December 2017</div>
                     <div class="row ignore-link-color">
                        <p class="col-md-2 col-xs-4 head-bold" style="margin: 0">Role:</p>
                        <p class="col-md-10 col-xs-8" style="margin: 0">- Developed shipping service Rest API.<br> - Database design for service. <br> 
                          - Generated spring rest docs for shipping service API.
                        </p>
                     </div>
                     <div class="row ignore-link-color">
                        <p class="col-md-2 col-xs-4 head-bold" style="margin:0">Technologies:</p>
                        <p class="col-md-10 col-xs-8">Spring Boot, MySQL, JUnit, Amazon Aurora,Apache Kafka,IntelliJ</p>
                     </div>
                  </div>
               </a>
            </div>
            <div class="col-md-3 col-sm-4 hidden-xs"></div>
            <div class="col-md-6 col-sm-8">
               <hr class="sub-hr">
            </div>
            <div class="col-md-3 col-sm-4 hidden-xs hidden-sm"></div>
            <div class="clearfix visible-md visible-lg"></div>
            <div class="col-md-3 col-sm-4 hidden-xs"></div>
            <div class="col-md-9 col-sm-8">
               <a href="https://nextsphere.com/" target="_blank">
                  <div class="link-item-container">
                     <h3>Nextsphere Technologies - Hyderabad,India</h3>
                     <div class="quiet heading-subtitle">Software Engineer | August 2013 - July 2016</div>
                     <div class="row ignore-link-color">
                        <p class="col-md-2 col-xs-4 head-bold" style="margin: 0">Role:</p>
                        <p class="col-md-10 col-xs-8" style="margin: 0">- Development of Vendor, Claim processing module screens.<br>
                           - Optimized existing stored procedures in the legacy application to make data retrieving
                             nearly three times faster as result improved application performance and user experience.<br>
                           - 3D's (Design,Develop,Deploy) SSIS packages to migrate data from IKA System to production server<br>
                           - Developed reporting module, and scheduled check print module using SSIS packages.<br>
                           - Involved in client meetings and production support to fix critical issues on demand.

                        </p>
                     </div>
                     <div class="row ignore-link-color">
                        <p class="col-md-2 col-xs-4 head-bold" style="margin:0">Technologies:</p>
                        <p class="col-md-10 col-xs-8"> ASP.NET,SQL Server,C#,T-SQL,SSIS,SSRS,Entity framwork,Web API,TFS, IIS </p>
                     </div>
                  </div>
               </a>
            </div>
            <div class="col-md-3 col-sm-4 hidden-xs"></div>
            <div class="col-md-6 col-sm-8">
               <hr class="sub-hr">
            </div>
            
         <hr style="visibility:hidden">
      </div>
